:root {
  --bg: #2f4172;
  --color: #226666;
  --color-accent: #061439;
}

body {
  background-color: black;
  /** default text color */
  color: white;
}
main {
  width: 100%;
  padding: 5px;
  background-color: black;
  overflow: hidden;
}

.c-tech-table {
  background: white;
}

.c-title {
  font-size: 40px;
}

.c-game-info {
  width: 150px;
  padding: 5px;
  color: white;
  background-color: var(--color-accent);
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-sub-splash {
  overflow: hidden;
  width: 100%;
}
.c-sub-splash img {
  animation-duration: 10s;
  animation-name: slideAcross;
  position: relative;
  animation-iteration-count: infinite;
}

.c-join {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.c-join__connect {
  margin-left: auto;
}

.c-waiting-for-player {
  width: 100%;
}

.c-waiting-for-player__text {
  text-align: center;
  font-size: 50px;
}
.c-join > header {
  font-size: 40px;
  text-align: center;
}

.c-join__title,
.c-title {
  color: var(--color);
}

.c-end-turn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  color: white;
}

.c-end-turn__number {
  text-align: center;
}
.c-sidebar {
  color: white;
}

.c-sidebar__unit .c-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.c-docs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 350px;
}
.c-build-menu {
  padding: 15px;
  background-color: var(--color-accent);
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 500px;
}

.c-build-menu__header {
  size: 20px;
  font-weight: 700;
  text-align: center;
  color: white;
}
.c-build-menu__buildables > header {
  color: white;
}
.c-build-menu__build-group {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.c-build-menu__item {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 160px;
  color: black;
}
.c-build-menu__item header {
  color: black;
}
.c-build-menu__item--clickable {
  cursor: pointer;
}

/*
   SVG
*/

svg {
  width: 750px;
  height: 600px;
  overflow: hidden;
}

text {
  font-family: monospace;
}

polygon {
  stroke: black;
}

g {
  cursor: pointer;
}

.hex:hover {
  opacity: 0.7;
}

/** Bubbles experiment from http://jsfiddle.net/p5gpx/ **/
#bubbles {
  padding: 100px 0;
  height: 100%;
}
.bubble {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 200px;
  position: absolute;
}

.x1 {
  transform: scale(0.9);
  opacity: 0.2;
  animation: moveclouds 15s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}

.x2 {
  left: 200px;
  transform: scale(0.6);
  opacity: 0.5;
  animation: moveclouds 25s linear infinite,
    sideWays 5s ease-in-out infinite alternate;
}
.x3 {
  left: 350px;
  transform: scale(0.8);
  opacity: 0.3;
  animation: moveclouds 20s linear infinite,
    sideWays 4s ease-in-out infinite alternate;
}
.x4 {
  left: 470px;
  transform: scale(0.75);
  opacity: 0.35;
  animation: moveclouds 18s linear infinite,
    sideWays 2s ease-in-out infinite alternate;
}
.x5 {
  left: 150px;
  transform: scale(0.8);
  opacity: 0.3;
  animation: moveclouds 7s linear infinite,
    sideWays 1s ease-in-out infinite alternate;
}
@keyframes moveclouds {
  0% {
    left: 50%;
    top: 800px;
  }
  100% {
    top: -500px;
  }
}

@keyframes sideWays {
  0% {
    margin-left: 0px;
  }
  100% {
    margin-left: 50px;
  }
}

@keyframes slideAcross {
  0% {
    left: -500px;
  }
  100% {
    left: 4000px;
  }
}
